<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!-- SqlSession setup for MyBatis Database Layer -->
	<!--<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">-->
	<!-- 
	2021_12_09 여다혜
	SqlSessionFactoryBean을 RefreshableSqlSessionFactoryBean 으로 변경함 (was재기동 없이 쿼리 반영)
	-->
	<bean id="sqlSession" class="egovframework.com.RefreshableSqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:/egovframework/sqlmap/sql-mapper-config.xml" />
		<property name="mapperLocations">
			<array>
                <value>classpath*:/egovframework/sqlmap/**/**/mappers/*.xml</value>
                <value>classpath*:/mappers/**/*.xml</value>
                <value>classpath*:/mappers/**/**/*.xml</value>
                <value>classpath*:/mappers/**/**/**/*.xml</value>
            </array>
        </property>                
	</bean>
	
    <!-- MyBatis 처리를 위한 추가 -->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSession" />
    </bean> 	

	<!-- MapperConfigurer setup for MyBatis Database Layer with @Mapper("deptMapper") in DeptMapper Interface
 	<bean class="egovframework.rte.psl.dataaccess.mapper.MapperConfigurer">
		<property name="basePackage" value="egovframework.example.sample.service.impl" />
	</bean> -->
    
</beans>